---
name: Test Pass/Fail
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  pass:
    name: Test Pass
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v3.1.0

      - name: Pass
        uses: ./
        with:
          path: "./tests/pass.sql"
          comment: true
          only-changed-files: false

  fail:
    name: Test Fail
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
      - uses: actions/checkout@v3.1.0

      - name: Fail
        uses: ./
        with:
          path: "./tests/error.sql"
          comment: true
          only-changed-files: false
        continue-on-error: true
